* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS VARIABLES */
  --purple-600: hsl(246, 80%, 60%);
  --purple-500: hsl(235, 45%, 61%);

  --orange-300-work: hsl(15, 100%, 70%);
  --blue-300-play: hsl(195, 74%, 62%);
  --pink-400-study: hsl(348, 100%, 68%);
  --green-400-exercise: hsl(145, 58%, 55%);
  --yellow-300-self-cafe: hsl(43, 84%, 65%);
  --purple-700-social: hsl(264, 64%, 52%);

  --grey-200: hsl(0, 0%, 85%);

  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --navy-800: hsl(235, 41%, 34%);
  --navy-200: hsl(236, 100%, 87%);

  --white: #FFFFFF;
  --black: #000000;

  /* SPACING VARIABLES */
  --spacing-100: 0.5rem;  /* 8px  */
  --spacing-200: 1rem;    /* 16px */
  --spacing-300: 1.5rem;  /* 24px */
  --spacing-400: 2rem;    /* 32px */
  --spacing-500: 2.5rem;  /* 40px */
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

/* CLASSES FOR TYPOGRAPHY */
.text-preset-1 {
  font-size: 3.5rem; /* 56px */
  line-height: 4.125; /* 66px */
  font-weight: 300;
}

.text-preset-2 {
  font-size: 2.5rem; /* 40px */
  line-height: 2.9375; /* 47px */
  font-weight: 300;
}

.text-preset-3 {
  font-size: 2rem; /* 32px */
  line-height: 2.375; /* 38px */
  font-weight: 300;
}

.text-preset-4 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.75; /* 28px */
  font-weight: 300;
}

.text-preset-5-medium {
  font-size: 1.125rem; /* 18px */
  line-height: 1.3125; /* 21px */
  font-weight: 500;
}

.text-preset-5-regular {
  font-size: 1.125rem; /* 18px */
  line-height: 1.3125; /* 21px */
  font-weight: 400;
}

.text-preset-6 {
  font-size: 0.9375rem; /* 15px */
  line-height: 1.125; /* 18px */
  font-weight: 400;
}